@charset "UTF-8";
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  /* width: 100%;
  height: 100%; */
}

a:focus {
  outline: thin dotted;
}

a:active,
a:hover {
  outline: 0;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b,
strong {
  font-weight: bold;
}

dfn {
  font-style: italic;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
}

mark {
  background: #ff0;
  color: #000;
}

code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}

pre {
  white-space: pre-wrap;
}

q {
  quotes: "“" "”" "‘" "’";
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 0;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  padding: 0;
}

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}

button,
input {
  line-height: normal;
}

button,
select {
  text-transform: none;
}

button,
html input[type='button'],
input[type='reset'],
input[type='submit'] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled],
html input[disabled] {
  cursor: default;
}

input[type='checkbox'],
input[type='radio'] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

input[type='search'] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-decoration {
  -webkit-appearance: none;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.topbar {
  font-size: 2rem;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 3rem;
  right: 2rem;
  z-index: 99;
}

.topbar_menu {
  position: relative;
  width: 5rem;
  height: 4rem;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.topbar_menu:hover {
  -webkit-animation: pulse 1s infinite;
          animation: pulse 1s infinite;
}

.topbar_burger {
  display: block;
  background-color: var(--color-nav);
  height: 0.1rem;
  width: 2.2rem;
  position: absolute;
  top: 2rem;
  right: 1rem;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.topbar_burger::before {
  content: '';
  position: absolute;
  top: -0.6rem;
  right: 0rem;
  height: 0.1rem;
  width: 3rem;
  background-color: var(--color-nav);
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.topbar_burger::after {
  content: '';
  position: absolute;
  top: 0.6rem;
  right: 0rem;
  height: 0.1rem;
  width: 2.5rem;
  background-color: var(--color-nav);
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.topbar .close .topbar_burger {
  width: 2rem;
}

.topbar .close .topbar_burger::after {
  top: -0.5rem;
  right: 0.3rem;
  height: 0.1rem;
  width: 2rem;
}

.topbar .close .topbar_burger::before {
  top: 0.5rem;
  right: 0.7rem;
  height: 0.1rem;
  width: 2rem;
}

.topbar_burgerMenu {
  font-size: 1rem;
  visibility: hidden;
  width: 15rem;
  position: absolute;
  top: 3rem;
  right: 1rem;
  z-index: 98;
  padding-top: 20px;
  overflow: auto;
  opacity: 0;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.topbar_burgerMenu ul {
  opacity: 0;
  -webkit-transition: all 1s;
  transition: all 1s;
}

.topbar_burgerMenu li {
  text-align: right;
  list-style: none;
  margin-left: 2rem;
  margin-top: 1rem;
}

.topbar_burgerMenu a {
  font-family: inherit;
}

.topbar_burgerMenu a:hover {
  color: var(--color-bg2);
}

.topbar .visible {
  visibility: visible;
  opacity: 1;
}

.topbar .visible ul {
  opacity: 1;
}

.icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 10;
  position: absolute;
  top: 4rem;
  right: 20%;
}

.icons .icon {
  color: var(--color-nav);
  margin: 0.5rem 1rem;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.icons .icon:hover {
  color: var(--color-bg2);
}

@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes pulse {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

html {
  font-family: sans-serif;
  background: #fff;
}

body {
  --color-text: #fff;
  --color-bg: #101116;
  --color-bg2: #353942;
  --color-bg-flash: #565c77;
  --color-link: #fff;
  --color-link-hover: #3d405b;
  --color-reveal: var(--color-bg);
  --color-title: #fff;
  --color-nav: #fff;
  font-family: Futura, 'Trebuchet MS', Arial, sans-serif;
  min-height: 100vh;
  /* color: #57585c; */
  color: var(--color-text);
  /* background-color: #fff; */
  background: radial-gradient(ellipse at 30% 40%, var(--color-bg2) 0%, var(--color-bg) 60%);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
  padding: 6rem 0 0 0;
}

/* Page Loader */
.js .loading::before {
  content: '';
  position: fixed;
  z-index: 100000;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--color-bg);
}

.js .loading::after {
  content: '';
  position: fixed;
  z-index: 100000;
  top: 50%;
  left: 50%;
  width: 60px;
  height: 60px;
  margin: -30px 0 0 -30px;
  pointer-events: none;
  border-radius: 50%;
  opacity: 0.4;
  background: var(--color-link);
  -webkit-animation: loaderAnim 0.7s linear infinite alternate forwards;
          animation: loaderAnim 0.7s linear infinite alternate forwards;
}

@-webkit-keyframes loaderAnim {
  to {
    opacity: 1;
    -webkit-transform: scale3d(0.5, 0.5, 1);
            transform: scale3d(0.5, 0.5, 1);
  }
}

@keyframes loaderAnim {
  to {
    opacity: 1;
    -webkit-transform: scale3d(0.5, 0.5, 1);
            transform: scale3d(0.5, 0.5, 1);
  }
}

a {
  text-decoration: none;
  color: var(--color-link);
  outline: none;
}

a:hover,
a:focus {
  color: var(--color-link-hover);
}

button:focus,
a:focus {
  outline: none;
}

.hidden {
  position: absolute;
  overflow: hidden;
  width: 0;
  height: 0;
  pointer-events: none;
}

/* Icons */
.icon {
  display: block;
  width: 1.5em;
  height: 1.5em;
  margin: 0 auto;
  fill: currentColor;
}

main {
  position: relative;
  width: 100%;
}

.content {
  text-align: center;
}

/* Header */
.codrops-header {
  position: relative;
  z-index: 100;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  justify-items: center;
}

.codrops-header__title {
  font-size: 1rem;
  line-height: 1;
  font-weight: normal;
  margin: 0 1rem;
}

.info {
  display: block;
  margin: 1rem 0;
}

.github {
  display: block;
}

/* Top Navigation Style */
.codrops-links {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  white-space: nowrap;
  font-size: 0.85rem;
}

.codrops-icon {
  display: inline-block;
  padding: 0.25em;
}

.slideshow {
  position: relative;
  width: 100%;
  margin: 3.5rem 0 0 0;
  padding: 0 0 3.5rem 0;
  pointer-events: none;
  overflow: hidden;
}

.slide {
  width: 100%;
  height: 50vh;
  top: 0;
  position: absolute;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 100%;
      grid-template-columns: 100%;
  -ms-grid-rows: 100%;
      grid-template-rows: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
}

.slide--current {
  position: relative;
}

.slide__img-wrap {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: 1 / 1 / 1 / 1;
  width: 100%;
  height: calc(100vh - 13rem);
  max-height: 100%;
  overflow: hidden;
  position: relative;
  opacity: 0;
  outline: 3px solid transparent;
}

.slide__img {
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-size: cover;
  background-position: 50% 50%;
  position: absolute;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  pointer-events: none;
}

.slide__img::after {
  content: '';
  /* background: rgba(22, 63, 191, 0.62); */
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.slide__img-reveal {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: var(--color-reveal);
  -webkit-transform: translate3d(-100%, 0, 0);
          transform: translate3d(-100%, 0, 0);
  pointer-events: none;
}

.slide__number {
  font-size: 2rem;
  position: absolute;
  top: 5.25rem;
  opacity: 0;
}

.slide__title {
  margin: 0;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: 1 / 1 / 1 / 1;
  font-size: 10vw;
  color: var(--color-title);
  position: relative;
  margin-bottom: 1.25rem;
  opacity: 0;
}

.slide--current .slide__img-wrap,
.slide--current .slide__number,
.slide--current .slide__title {
  opacity: 1;
}

.slidenav {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: lowercase;
}

.slidenav__item {
  pointer-events: auto;
  border: 0;
  background: none;
  padding: 1rem;
  margin: 0.85rem;
  text-transform: inherit;
  position: relative;
  line-height: 1;
  color: var(--color-nav);
}

.slidenav__item::before,
.slidenav__item::after {
  content: '';
  position: absolute;
  width: 3rem;
  height: 1px;
  background: currentColor;
  top: 50%;
}

.slidenav__item::before {
  right: 100%;
}

.slidenav__item::after {
  left: 100%;
}

.slidenav__item:hover {
  color: var(--color-link-hover);
}

.slidenav__item--prev {
  -webkit-transform: rotate(-90deg) translateY(-50%);
          transform: rotate(-90deg) translateY(-50%);
}

.slidenav__item--next {
  -webkit-transform: rotate(90deg) translateY(-25%);
          transform: rotate(90deg) translateY(-25%);
}

.slidenav__item--back {
  position: absolute;
  top: 0;
  left: 20%;
}

.slidenav__preview {
  pointer-events: auto;
  color: var(--color-nav);
  position: absolute;
  bottom: 0;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  left: 50%;
  border: 0;
  background: none;
  padding: 1rem;
  -webkit-transition: 0.3s -webkit-transform;
  transition: 0.3s -webkit-transform;
  transition: 0.3s transform;
  transition: 0.3s transform, 0.3s -webkit-transform;
}

.slidenav__preview:hover {
  color: var(--color-link-hover);
}

.slidenav__preview .icon {
  pointer-events: none;
}

.slidenav__preview--open {
  -webkit-transform: translateX(-50%) rotate(180deg);
          transform: translateX(-50%) rotate(180deg);
}

.preview,
.preview__img-wrap,
.preview__img,
.preview__img-reveal {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
}

.preview {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.preview__img-wrap {
  overflow: hidden;
  opacity: 0;
}

.preview__img {
  background-size: cover;
  background-position: 50% 50%;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

.preview__img::after {
  content: '';
  /* background: rgba(22, 63, 191, 0.62); */
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.preview__img-reveal {
  background: var(--color-reveal);
}

.preview__title {
  position: relative;
  font-size: 1.5rem;
  opacity: 0;
  padding: 0 1rem;
  margin: 0 0 1rem 0;
  text-align: center;
}

.preview__content {
  -webkit-column-count: 2;
          column-count: 2;
  position: relative;
  text-align: justify;
  opacity: 0;
  padding: 0 1rem;
}

.preview__content p {
  margin: 0;
}

@media screen and (min-width: 53em) {
  body {
    padding: 0;
  }
  .content {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0 auto;
    min-height: 100vh;
    text-align: left;
  }
  .content--fixed {
    position: fixed;
    z-index: 10000;
    top: 0;
    left: 0;
    display: -ms-grid;
    display: grid;
    -ms-flex-line-pack: justify;
        align-content: space-between;
    width: 100%;
    max-width: none;
    min-height: 0;
    height: 100vh;
    padding: 1.5rem 2rem;
    pointer-events: none;
    -ms-grid-columns: 50% 50%;
        grid-template-columns: 50% 50%;
    -ms-grid-rows: auto auto auto;
        grid-template-rows: auto auto auto;
        grid-template-areas: 'codropsheader info' '... ...' 'github ...';
  }
  .codrops-header {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: codropsheader;
    padding: 0;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
  }
  .codrops-links {
    margin: 0;
  }
  .content--fixed a {
    pointer-events: auto;
  }
  .info {
    margin: 0;
    -ms-grid-column-align: end;
        justify-self: end;
  }
  .github {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    grid-area: github;
    -ms-grid-column-align: start;
        justify-self: start;
  }
  .slideshow {
    padding: 0;
    margin: 0;
  }
  .slide {
    height: 100vh;
  }
  .slide__img-wrap {
    width: 380px;
  }
  .preview__title {
    font-size: 2.5rem;
  }
  .preview__content {
    padding: 0 5rem;
    max-width: 600px;
  }
  .slide__img::after,
  .preview__img::after {
    display: none;
  }
}

/* Landing page */
.content {
  width: 100%;
  margin: 0 auto;
  /* z-index: -1;
  position: absolute;
  top: 60%;
  left: 10%;
  transform: translate(0, -50%); */
}

.overlay-2 {
  z-index: 0;
  position: absolute;
  width: 100%;
  height: 100vh;
  background: var(--color-text);
}

.overlay {
  z-index: 1;
  position: absolute;
  width: 100%;
  height: 100vh;
  background: radial-gradient(ellipse at 30% 40%, var(--color-bg2) 0%, var(--color-bg) 60%);
}

.overlay .logo {
  font-family: Impact, 'Arial Narrow Bold', sans-serif;
  font-size: 2rem;
  font-weight: 400;
  text-transform: uppercase;
  position: absolute;
  top: 4rem;
  left: 3rem;
}

.nav-index {
  width: 3rem;
  position: absolute;
  top: 20%;
  left: 3rem;
}

.nav-index h2 {
  font-size: 3rem;
  color: var(--color-bg2);
}

.nav-index span {
  position: absolute;
  top: 20rem;
}

.nav-index span::after {
  content: '';
  position: absolute;
  width: 7rem;
  height: 1px;
  background: currentColor;
  top: 0.7rem;
  left: 7rem;
}

.bio {
  width: 40%;
  position: relative;
  top: 30%;
  left: 20%;
}

.img-profile {
  width: 20vw;
  min-height: 40rem;
  background: url("/img/Minh.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;
  position: absolute;
  top: 30%;
  right: 10%;
  opacity: 0.7;
  border: 2px solid var(--color-bg-flash);
  border-radius: 4rem;
  border-bottom: none;
  border-top: none;
}

.background {
  width: 100vw;
  height: 100vh;
  background-blend-mode: multiply;
  position: absolute;
  top: 0rem;
  right: 0rem;
  z-index: -10;
}

.background.profile {
  background: url("/img/profileBg.jpg");
  background-color: var(--color-bg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  opacity: 0.4;
}

.background.projects {
  background: url("/img/projectsBg.jpg");
  background-color: var(--color-bg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  opacity: 0.6;
}

.myBtn {
  font-weight: 700;
  font-size: 0.8rem;
  letter-spacing: 6px;
  text-transform: uppercase;
  display: block;
  padding: 0.5rem 2rem;
  color: #fff;
  border: 1px solid #fff;
  border-top: none;
  border-bottom: none;
  border-radius: 0.3rem;
  outline: none;
  overflow: hidden;
  background: none;
  position: absolute;
  top: 90%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 1;
  -webkit-transition: 0.2s ease-out;
  transition: 0.2s ease-out;
}

.myBtn:hover {
  color: #101010;
}

.myBtn:before {
  content: '';
  position: absolute;
  background: #fff;
  bottom: 0;
  left: 0;
  right: 0;
  top: 100%;
  z-index: -1;
  -webkit-transition: top 0.2s ease-out;
  transition: top 0.2s ease-out;
}

.myBtn:hover:before {
  top: 0;
}

.rotate-left {
  -webkit-transform: rotate(-90deg) translateY(-50%);
          transform: rotate(-90deg) translateY(-50%);
}
/*# sourceMappingURL=base.css.map */