@charset "UTF-8";
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  max-width: 2560px;
  margin: 0 auto;
  padding: 0;
  border: 1px dotted var(--color-bg2);
  /* width: 100%;
  height: 100%; */
}

a:focus {
  outline: thin dotted;
}

a:active,
a:hover {
  outline: 0;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b,
strong {
  font-weight: bold;
}

dfn {
  font-style: italic;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
}

mark {
  background: #ff0;
  color: #000;
}

code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}

pre {
  white-space: pre-wrap;
}

q {
  quotes: "“" "”" "‘" "’";
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 0;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  padding: 0;
}

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}

button,
input {
  line-height: normal;
}

button,
select {
  text-transform: none;
}

button,
html input[type='button'],
input[type='reset'],
input[type='submit'] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled],
html input[disabled] {
  cursor: default;
}

input[type='checkbox'],
input[type='radio'] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

input[type='search'] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-decoration {
  -webkit-appearance: none;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.topbar {
  font-size: 2rem;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 3rem;
  right: 2rem;
  z-index: 99;
}

.topbar_menu {
  position: relative;
  width: 5rem;
  height: 4rem;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.topbar_menu:hover {
  -webkit-animation: pulse 1s infinite;
          animation: pulse 1s infinite;
}

.topbar_menu:hover .topbar_burger,
.topbar_menu:hover .topbar_burger::before,
.topbar_menu:hover .topbar_burger::after {
  background-color: var(--color-link-hover);
}

.topbar_burger {
  display: block;
  background-color: var(--color-nav);
  height: 0.1rem;
  width: 2.2rem;
  position: absolute;
  top: 2rem;
  right: 1rem;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.topbar_burger::before {
  content: '';
  position: absolute;
  top: -0.6rem;
  right: 0rem;
  height: 0.1rem;
  width: 3rem;
  background-color: var(--color-nav);
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.topbar_burger::after {
  content: '';
  position: absolute;
  top: 0.6rem;
  right: 0rem;
  height: 0.1rem;
  width: 2.5rem;
  background-color: var(--color-nav);
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.topbar .close .topbar_burger {
  width: 2rem;
}

.topbar .close .topbar_burger::after {
  top: -0.5rem;
  right: 0.3rem;
  height: 0.1rem;
  width: 2rem;
}

.topbar .close .topbar_burger::before {
  top: 0.5rem;
  right: 0.7rem;
  height: 0.1rem;
  width: 2rem;
}

.topbar_burgerMenu {
  font-size: 1rem;
  visibility: hidden;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  position: absolute;
  top: 3rem;
  right: 1rem;
  z-index: 98;
  padding-top: 20px;
  overflow: auto;
  opacity: 0;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.topbar_burgerMenu ul {
  padding: 0;
  opacity: 0;
  -webkit-transition: all 1s;
  transition: all 1s;
}

.topbar_burgerMenu li {
  text-align: right;
  list-style: none;
  margin-left: 2rem;
  margin-top: 1rem;
}

.topbar_burgerMenu a {
  font-family: inherit;
}

.topbar_burgerMenu a:hover {
  color: var(--color-bg2);
}

.topbar .visible {
  visibility: visible;
  opacity: 1;
}

.topbar .visible ul {
  opacity: 1;
}

.icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 10;
  position: absolute;
  top: 4rem;
  right: 20%;
}

.icons .icon {
  color: var(--color-nav);
  margin: 0.5rem 1rem;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.icons .icon:hover {
  color: var(--color-bg2);
}

@-webkit-keyframes loaderAnim {
  to {
    opacity: 1;
    -webkit-transform: scale3d(0.5, 0.5, 1);
            transform: scale3d(0.5, 0.5, 1);
  }
}

@keyframes loaderAnim {
  to {
    opacity: 1;
    -webkit-transform: scale3d(0.5, 0.5, 1);
            transform: scale3d(0.5, 0.5, 1);
  }
}

@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes pulse {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

/* Page Loader */
.js .loading::before {
  content: '';
  position: fixed;
  z-index: 100000;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--color-bg);
}

.js .loading::after {
  content: '';
  position: fixed;
  z-index: 100000;
  top: 50%;
  left: 50%;
  width: 60px;
  height: 60px;
  margin: -30px 0 0 -30px;
  pointer-events: none;
  border-radius: 50%;
  opacity: 0.4;
  background: var(--color-link);
  -webkit-animation: loaderAnim 0.7s linear infinite alternate forwards;
          animation: loaderAnim 0.7s linear infinite alternate forwards;
}

html {
  font-family: sans-serif;
}

body {
  --color-bg: #101116;
  --color-bg2: #353942;
  --color-bg-flash: #565c77;
  --color-link: #fff;
  --color-link-hover: #3d405b;
  --color-reveal: var(--color-bg);
  --color-white: #fff;
  --color-text: #fff;
  --color-title: #fff;
  --color-nav: #fff;
  font-family: Futura, 'Trebuchet MS', Arial, sans-serif;
  color: var(--color-text);
  background: var(--color-bg);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
  position: relative;
  padding: 0 0 0 0;
}

a {
  text-decoration: none;
  color: var(--color-link);
  outline: none;
}

a:hover,
a:focus {
  color: var(--color-link-hover);
}

button:focus,
a:focus {
  outline: none;
}

.hidden {
  position: absolute;
  overflow: hidden;
  width: 0;
  height: 0;
  pointer-events: none;
}

/* Icons caret */
.icon {
  display: block;
  width: 1.5em;
  height: 1.5em;
  margin: 0 auto;
  fill: currentColor;
}

main {
  position: relative;
  width: 100%;
}

.slideshow {
  position: relative;
  width: 100%;
  margin: 3.5rem 0 0 0;
  padding: 0 0 3.5rem 0;
  pointer-events: none;
  overflow: hidden;
}

.slide {
  width: 100%;
  height: 50vh;
  top: 0;
  position: absolute;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 100%;
      grid-template-columns: 100%;
  -ms-grid-rows: 100%;
      grid-template-rows: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
}

.slide--current {
  position: relative;
}

.slide__img-wrap {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: 1 / 1 / 1 / 1;
  width: 100%;
  height: calc(100vh - 13rem);
  max-height: 100%;
  overflow: hidden;
  position: relative;
  opacity: 0;
  outline: 3px solid transparent;
  border: 1px solid #353942;
  border-radius: 1rem;
}

.slide__img {
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  pointer-events: none;
  -webkit-filter: saturate(0.7);
          filter: saturate(0.7);
}

.slide__img-reveal {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: var(--color-reveal);
  -webkit-transform: translate3d(-100%, 0, 0);
          transform: translate3d(-100%, 0, 0);
  pointer-events: none;
}

.slide__number {
  font-size: 2rem;
  position: absolute;
  top: 5.25rem;
  opacity: 0;
  text-shadow: -1px -1px 0 var(--color-bg), 1px -1px 0 var(--color-bg), -1px 1px 0 var(--color-bg), 1px 1px 0 var(--color-bg);
}

.slide__title {
  margin: 0;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: 1 / 1 / 1 / 1;
  font-size: 3vw;
  color: var(--color-title);
  text-shadow: -1px -1px 0 var(--color-bg), 1px -1px 0 var(--color-bg), -1px 1px 0 var(--color-bg), 1px 1px 0 var(--color-bg);
  position: relative;
  margin-bottom: 1.25rem;
  opacity: 0;
}

.slide--current .slide__img-wrap,
.slide--current .slide__number,
.slide--current .slide__title {
  opacity: 1;
}

.slidenav {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: lowercase;
}

.slidenav__item {
  pointer-events: auto;
  border: 0;
  background: none;
  padding: 1rem;
  margin: 0.85rem;
  text-transform: inherit;
  position: relative;
  line-height: 1;
  color: var(--color-nav);
}

.slidenav__item::before,
.slidenav__item::after {
  content: '';
  position: absolute;
  width: 3rem;
  height: 1px;
  background: currentColor;
  top: 50%;
}

.slidenav__item::before {
  right: 100%;
}

.slidenav__item::after {
  left: 100%;
}

.slidenav__item:hover {
  color: var(--color-link-hover);
}

.slidenav__item--prev {
  -webkit-transform: rotate(-90deg) translateY(-50%);
          transform: rotate(-90deg) translateY(-50%);
}

.slidenav__item--next {
  -webkit-transform: rotate(90deg) translateY(-25%);
          transform: rotate(90deg) translateY(-25%);
}

.slidenav__item--back {
  position: absolute;
  top: 3rem;
  left: 20%;
}

.slidenav__preview {
  pointer-events: auto;
  color: var(--color-nav);
  position: absolute;
  bottom: 1rem;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  left: 50%;
  border: 0;
  border-radius: 3rem;
  background: none;
  padding: 1rem;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
}

.slidenav__preview:hover {
  color: var(--color-link-hover);
  background: var(--color-white);
  opacity: 0.9;
}

.slidenav__preview .icon {
  pointer-events: none;
}

.slidenav__preview--open {
  -webkit-transform: translateX(-50%) rotate(180deg);
          transform: translateX(-50%) rotate(180deg);
}

.preview,
.preview__img-wrap,
.preview__img,
.preview__img-reveal {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
}

.preview {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.preview__img-wrap {
  overflow: hidden;
  opacity: 0;
}

.video-container {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  z-index: -1;
}

video {
  max-width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  opacity: 0.8;
  z-index: -2;
}

.preview__img {
  background-size: cover;
  background-position: 50% 50%;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

.preview__img-reveal {
  background: var(--color-reveal);
}

.preview__title {
  display: none;
}

.preview__content {
  max-width: 600px;
  -webkit-column-count: 2;
          column-count: 2;
  position: absolute;
  bottom: 5.5rem;
  right: 5rem;
  text-align: justify;
  opacity: 0;
  padding: 2rem 1rem;
  background: #ffffffcc;
  color: #000;
  border-radius: 1rem;
}

.preview__content:hover {
  font-size: 3rem;
}

.preview__content p {
  margin: 0;
}

/* Landing page */
.content {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  /* z-index: -1;
  position: absolute;
  top: 60%;
  left: 10%;
  transform: translate(0, -50%); */
}

.overlay-2 {
  z-index: 0;
  position: absolute;
  width: 100%;
  height: 100vh;
  background: var(--color-text);
}

.overlay {
  z-index: 1;
  position: absolute;
  width: 100%;
  height: 100vh;
  background: radial-gradient(ellipse at 30% 40%, var(--color-bg2) 0%, var(--color-bg) 60%);
}

.overlay .logo {
  font-family: Impact, 'Arial Narrow Bold', sans-serif;
  font-size: 2rem;
  font-weight: 400;
  text-transform: uppercase;
  position: absolute;
  top: 4rem;
  left: 3rem;
}

.overlay .logo::after {
  content: '';
  position: absolute;
  width: 20vw;
  height: 1px;
  background: currentColor;
  top: 50%;
  left: 15rem;
}

.nav-index {
  width: 3rem;
  position: absolute;
  top: 30%;
  left: 4rem;
}

.nav-index h2 {
  font-size: 3rem;
}

.nav-index span {
  position: absolute;
  top: 20rem;
  -webkit-transform: rotate(-90deg) translateY(-50%);
          transform: rotate(-90deg) translateY(-50%);
}

.nav-index span::after {
  content: '';
  color: var(--color-white);
  position: absolute;
  width: 7rem;
  height: 1px;
  background: currentColor;
  top: 0.7rem;
  left: 7rem;
}

.nav-index.horizontal {
  width: 20rem;
  top: unset;
  bottom: 2rem;
  left: 4rem;
}

.nav-index.horizontal h2 {
  margin: 0;
  text-align: left;
}

.nav-index.horizontal span {
  top: 1.8rem;
  left: 16rem;
  -webkit-transform: unset;
          transform: unset;
}

.nav-index.horizontal span::after {
  top: 0.6rem;
  left: -10rem;
}

.bio {
  width: 70%;
  margin: 0 auto;
  position: relative;
  top: 30%;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.bio .img-profile {
  width: 40%;
  min-height: 30rem;
  background: -webkit-gradient(linear, left top, left bottom, from(#1f222a33), to(#101116aa)), url("/img/Minh.jpg");
  background: linear-gradient(#1f222a33, #101116aa), url("/img/Minh.jpg");
  -webkit-filter: brightness(1.5);
          filter: brightness(1.5);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: absolute;
  top: 25%;
  right: 4rem;
  opacity: 0.9;
  border: 2px solid var(--color-bg-flash);
  border-radius: 4rem;
  border-bottom: none;
  border-top: none;
}

.bio .greetings {
  width: 100%;
  text-align: justify;
  position: absolute;
  top: -10rem;
  left: 0;
}

.bio .greetings h2 {
  margin: 0;
  font-size: 3rem;
}

.bio .greetings p {
  -webkit-columns: 2;
          columns: 2;
}

.bio .tech-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  position: relative;
  top: 9rem;
  left: 4rem;
  color: var(--color-bg-flash);
}

.bio .tech-icons h4 {
  position: absolute;
  left: 0rem;
  top: -2rem;
}

.bio .tech-icons div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-right: 2rem;
  position: relative;
}

.bio .tech-icons div:nth-child(odd) {
  top: 2rem;
}

.bio .tech-icons i {
  font-size: 2rem;
  position: relative;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.bio .tech-icons i p {
  opacity: 0;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  padding: 0.5rem;
  position: absolute;
  top: -3rem;
  left: 40%;
  text-transform: uppercase;
  border-radius: 0.5rem;
  text-align: center;
  font-size: 1rem;
  background-color: var(--color-white);
  color: var(--color-bg);
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.bio .tech-icons i:hover {
  color: var(--color-white);
}

.bio .tech-icons i:hover p {
  opacity: 1;
  z-index: 1;
}

.background {
  width: 100%;
  height: 100vh;
  background-blend-mode: multiply;
  position: absolute;
  top: 0rem;
  right: 0rem;
  z-index: -10;
  overflow: hidden;
}

.background.profile {
  background: url("https://minh-leo.github.io/portfolio-2.0.1/img/profileBg.jpg");
  background-color: var(--color-bg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  opacity: 0.4;
}

.background.projects {
  background: url("https://minh-leo.github.io/portfolio-2.0.1/img/profileBg.jpg");
  background-color: var(--color-bg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  opacity: 0.6;
}

.footer::after {
  content: '';
  position: absolute;
  width: 5rem;
  height: 1px;
  background: var(--color-bg-flash);
  bottom: 3rem;
  right: 3rem;
}

.footer::before {
  content: '';
  position: absolute;
  width: 5rem;
  height: 1px;
  background: currentColor;
  bottom: 8rem;
  right: 2rem;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.myBtn {
  font-weight: 700;
  font-size: 0.8rem;
  letter-spacing: 6px;
  text-transform: uppercase;
  display: block;
  padding: 0.5rem 2rem;
  color: #fff;
  border: 1px solid #fff;
  border-top: none;
  border-bottom: none;
  border-radius: 0.3rem;
  outline: none;
  overflow: hidden;
  background: none;
  position: absolute;
  top: 90%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 1;
  -webkit-transition: 0.2s ease-out;
  transition: 0.2s ease-out;
}

.myBtn:hover {
  color: #101010;
}

.myBtn:before {
  content: '';
  position: absolute;
  background: #fff;
  bottom: 0;
  left: 0;
  right: 0;
  top: 100%;
  z-index: -1;
  -webkit-transition: top 0.2s ease-out;
  transition: top 0.2s ease-out;
}

.myBtn:hover:before {
  top: 0;
}

@media screen and (min-width: 300px) {
  .content {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0 auto;
    min-height: 100vh;
    text-align: left;
  }
  .slideshow {
    padding: 0;
    margin: 0;
  }
  .slide {
    height: 100vh;
  }
  .slide__img-wrap {
    width: 30vw;
  }
}

@media screen and (min-width: 1200px) {
  .slide__img-wrap {
    width: 30%;
  }
}

@media screen and (max-width: 768px) {
  .icons {
    top: 1rem;
    right: 15%;
  }
  .topbar {
    font-size: 2rem;
    top: 0;
    right: 0;
  }
  .topbar_burgerMenu {
    font-size: 1rem;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    top: 2rem;
    right: 1rem;
  }
  .overlay .logo {
    top: 1rem;
    left: 2rem;
  }
  .overlay .logo::after {
    width: 15vw;
    top: 50%;
    left: 8rem;
  }
  .bio {
    width: 100%;
    top: 10%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .bio .img-profile {
    position: relative;
    margin: 0 auto;
    width: 60%;
    min-height: 17rem;
    top: 0;
    right: 0;
    background-position: center;
  }
  .bio .greetings {
    margin: 1rem auto;
    position: relative;
    top: 0;
    width: 80%;
    text-align: justify;
  }
  .bio .greetings h2 {
    font-size: 2rem;
  }
  .bio .greetings p {
    -webkit-columns: 1;
            columns: 1;
  }
  .bio .tech-icons {
    width: 40%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    top: -1rem;
  }
  .bio .tech-icons div {
    margin-right: 2rem;
  }
  .bio .tech-icons div:nth-child(odd) {
    top: 0;
  }
  .bio .tech-icons h4 {
    left: 0rem;
    top: -2rem;
  }
  .bio i {
    font-size: 2rem;
  }
  .bio i p {
    top: -3rem;
    left: 40%;
    font-size: 1rem;
  }
  .myBtn {
    font-size: 1rem;
    height: 3rem;
    top: unset;
    left: 75%;
    bottom: 15%;
  }
  .slide__img-wrap {
    width: 40vw;
  }
  .preview__content {
    font-size: 0.7rem;
    max-width: 80vw;
    bottom: 5rem;
    right: 2rem;
    margin: auto;
    padding: 0.5rem 0.5rem;
  }
  .slide__number {
    font-size: 1.5rem;
    top: 15rem;
    left: 20%;
  }
  .slide__title {
    font-size: 2.5rem;
  }
  .slidenav__item--back {
    top: 0;
  }
  .nav-index {
    width: 3rem;
    left: 1rem;
  }
  .nav-index h2 {
    font-size: 2rem;
  }
  .nav-index span {
    top: 15rem;
    left: -1rem;
  }
  .nav-index span::after {
    width: 6rem;
    top: 0.6rem;
    left: 5rem;
  }
  .nav-index.horizontal {
    width: 15rem;
    bottom: 2rem;
    left: 2rem;
  }
  .nav-index.horizontal span {
    top: 1rem;
    left: 10rem;
  }
  .nav-index.horizontal span::after {
    top: 0.7rem;
    left: -7rem;
  }
  .footer::after {
    bottom: 2rem;
    right: 1rem;
  }
  .footer::before {
    bottom: 6rem;
    right: 0;
  }
}

@media screen and (max-width: 576px) {
  body {
    overflow: scroll;
  }
  .icons {
    right: 5rem;
  }
  .icons .icon {
    margin: 0.5rem;
  }
  .overlay .logo {
    font-size: 1.5rem;
    left: 1rem;
  }
  .overlay .logo::after {
    width: 10vw;
    left: 5rem;
  }
  .nav-index {
    display: none;
  }
  .bio .img-profile {
    width: 60%;
    min-height: 15rem;
  }
  .bio .greetings {
    font-size: 0.8rem;
    margin: 1rem auto;
  }
  .bio .greetings h2 {
    font-size: 1.5rem;
  }
  .bio .tech-icons {
    display: none;
    top: -1rem;
    left: 0;
    margin: 0 auto;
  }
  .myBtn {
    width: 80%;
    padding: 0;
    left: 50%;
    bottom: 1rem;
  }
  .slide__title {
    width: 90%;
    top: 25%;
    text-align: center;
    font-size: 2rem;
  }
  .slide__img-wrap {
    width: 50vw;
  }
  .slidenav__item--back {
    top: 1.5rem;
  }
  .footer {
    display: none;
  }
}

@media screen and (max-width: 375px) {
  .bio .img-profile {
    width: 60%;
    min-height: 12rem;
  }
  .bio .greetings {
    font-size: 0.6rem;
    margin: 0.7rem auto;
  }
}
/*# sourceMappingURL=base.css.map */